{% extends 'base.html' %}

{% block content %}
    <form method="post" style="margin-top: 6rem">
    {% csrf_token %}
    {% for f in form %}
        <div class="form-group row">
        <label for="id_{{ f.name }}" class="col-md-2 col-form-label text-capitalize">{{ f.name }}</label>
        <div class="col-md-10">
            {{ f }}

        </div>

        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary" name="button">Add Devices</button>

    </form>
{% endblock content %}